.jiver-top-nav {
  background-color: #824096;
}

.jiver-nav-logo {
  padding: 10px;
}

.jiver-logo {
  max-height: 30px;
  padding: 0px;
}

.btn-jiver {
  background-color: #824096;
  color: #FFFFFF;
}
.btn-jiver:hover,
.btn-jiver:active,
.btn-jiver:focus,
.btn-jiver.active.focus,
.btn-jiver.active:focus,
.btn-jiver.active:hover,
.btn-jiver:active.focus,
.btn-jiver:active:focus,
.btn-jiver:active:hover {
  background-color: #662d74;
  color: #FFFFFF;
}

.list-group-item {
  border: 0px;
}

.chat-user {
  text-align: right;
}

.chat-member {
  text-align: left;
}

.chat-system {
  text-align: center;
  color: #8c8c8c;
}

.chat-broadcast {
  text-align: center;
  color: #373737;
}
